body {
	background-color: #f0f0f0;
	color: #333;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}
.container {
	margin: 0 auto;
	max-width: 550px;
}
.group:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}
h2 {
	font-size: 21px;
	font-weight: 300;
}
input[type="text"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 1px solid #ddd;
	border-radius: 3px;
	font-size: 18px;
	padding: 0.5em;
}
p {
	line-height: 1.5em;
}
.photo {
	margin: 30px auto;
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #ddd;
	position: relative;
	z-index: 1;
	img {
		border-radius: 4px 4px 0 0;
		width: 100%;
	}
	form {
		padding: 20px;
	}
}
.photo__rating {
	padding-bottom: 35px;
	h2 {
		margin-top: 0;
	}
	label {
		margin-right: 20px;
	}
}
.welcome {
	h1 {
		font-size: 60px;
		font-weight: 300;
	}
	form {
		margin: 40px 0 20px 0;
	}
}
.button {
	background-color: #51A56F;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	padding: 0.85em 1.5em;
	text-decoration: none;
	i {
		padding-left: 0.5em;
	}
	&:hover {
		background-color: lighten(#51A56F, 5);
	}
	&.-right {
		float: right;
	}
	&.-inactive {
		opacity: 0.4;
	}
	&.-small {
		font-size: 0.85em;
		padding: 0.75em 1.25em;
	}
}