<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NPPA</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    
    <div id="app" class="container"></div>

    <script type="text/template" id="welcome-template">
      <div class="message container">
        <h1>Welcome</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam diam metus, scelerisque id ligula eget, venenatis porta felis. Nunc malesuada ut sapien et tincidunt. Vivamus nisl arcu, tempor sit amet porttitor sit amet, ultrices a lectus. Mauris vitae nibh facilisis, fringilla ante eu, viverra ipsum. Nullam vel elit rhoncus, porta lacus et.</p>
        <form>
          <input id="first-name" type="text" placeholder="First Name">
          <input id="last-name" type="text" placeholder="Last Name">
        </form>
        <a href="#" id="get-started" class="button -inactive">Let's get started <i class="fa fa-angle-right"></i></a>
      </div>
    </script>

    <script type="text/template" id="photo-template">
      <div class="progress container">
      <p><%= number %> of 200</p>
      <div class="progress__bar"><span style="width: <%= percentDone %>%;"></span></div>
      </div>
      <div class="photo container">
        <img src="images/<%= fileName %>" alt="">
        <form class="group">
          <div class="photo__rating">
            <h2>Quality of this photo?</h2>
            <label>
              <input type="radio" value="1" name="quality" />
              <b>1</b>
            </label>
            <label>
              <input type="radio" value="2" name="quality" />
              <b>2</b>
            </label>
            <label>
              <input type="radio" value="3" name="quality" />
              <b>3</b>
            </label>
            <label>
              <input type="radio" value="4" name="quality" />
              <b>4</b>
            </label>
            <label>
              <input type="radio" value="5" name="quality" />
              <b>5</b>
            </label>
          </div>
          <div class="photo__rating">
          <h2>Likelihood you'll share this photo?</h2>
            <label>
              <input type="radio" value="1" name="shareability" />
              <b>1</b>
            </label>
            <label>
              <input type="radio" value="2" name="shareability" />
              <b>2</b>
            </label>
            <label>
              <input type="radio" value="3" name="shareability" />
              <b>3</b>
            </label>
            <label>
              <input type="radio" value="4" name="shareability" />
              <b>4</b>
            </label>
            <label>
              <input type="radio" value="5" name="shareability" />
              <b>5</b>
            </label>
          </div>
          <a id="next-photo" class="button -right -inactive -small">Next photo <i class="fa fa-arrow-right"></i></a>
        </form>
      </div>
      <div class="bg-img"><img src="images/<%= fileName %>" alt=""></div>
    </script>

    <script type="text/template" id="results-template">
      <div class="message container">
        <h1>Thanks, <%= firstName %>!</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam diam metus, scelerisque id ligula eget, venenatis porta felis. Nunc malesuada ut sapien et tincidunt. Vivamus nisl arcu, tempor sit amet porttitor sit amet, ultrices a lectus. Mauris vitae nibh facilisis, fringilla ante eu, viverra ipsum. Nullam vel elit rhoncus, porta lacus et.</p>
        <div class="admin-tools">
          <p>For admin use:</p>
          <div class="row">
            <a href="#" id="view-results" class="button">View results<i class="fa fa-angle-right"></i></a>
            <a href="#" id="next-user" class="button -secondary">Next user <i class="fa fa-angle-right"></i></a>
          </div>
          <div class="user-ratings">
            <div>
              <h2>Quality ratings:</h2>
              <textarea><%= qualityRatings %></textarea>
            </div>
            <div>
              <h2>Shareability ratings:</h2>
              <textarea><%= shareRatings %></textarea>
            </div>
          </div>
        </div>

      </div>
    </script>
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
  <script src="js/vendor/backbone.localStorage.js"></script>
  <script src="js/img-src.js"></script>
  <script src="js/app.js"></script>

  </body>
</html>